<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">People Search</a>
  <ul class="navbar-nav mr-auto">
 
    
  </ul>
  <!-- ngSubmit at form level and not button level -->
  <form  #searchForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="search()">
    <input class="form-control mr-sm-2" type="text" name="searchname" placeholder="Name to Search" [(ngModel)]="model.searchname" >
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  
</nav>
